@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans&display=swap');
body {
  font-family: 'IBM Plex Mono', monospace;
  color: white !important;
  background-color: red !important;
}

.highcharts-title {
 color:#fff !important;
 font-size:18px;
 fill:#fff !important;
}

#legendContainermap_norway {
 color: black;
}

#legendContainermap_germany {
 color: black;
}

#legendContainermap_europe {
 color: black;
}

#legendContainermodel_map_norway {
 color: black;
}

#legendContainermodel_map_germany {
 color: black;
}

#legendContainersir_map_norway {
 color: black;
}

#legendContainersir_map_germany {
 color: black;
}

.form-control,
.selectize-input,
.selectize-control.single .selectize-input {
 background: #fff;
 color: #000;
}

table {
 background-color:#fff;
 color: #000;
}

.form-control:focus,
.selectize-input.focus {
 background: #fff;
 color: #000;
}

thead {
  color: #fff;
  filter: invert(100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
 color:#333;
 color: #fff !important;
}

#datatable_1_norway {
  select {
    color: #000;
  }
}

#datatable_2_norway {
  select {
    color: #000;
  }
}

#datatable_1_germany {
  select {
    color: #000;
  }
}

#datatable_2_germany {
  select {
    color: #000;
  }
}

#datatable_1_europe {
  select {
    color: #000;
  }
}

#datatable_2_europe {
  select {
    color: #000;
  }
}
